---
---

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #028fcc;

  &::after {
    background-image: inherit;
    height: 0;
  }
}

header::after {
  background-image: inherit;
  height: 0;
}

.navbar .navbar-brand.active {
  width: 100px;
  height: 70px;
  padding-right: 1rem;
  background-color: #028fcc;
}

.navbar .navbar-collapse .nav-item a.nav-link {
  height: 70px;
  line-height: 70px;
  font-size: 1.5rem;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;

  &.active {
    background-color: rgba(0,0,0,.2);
  }
}

.navbar {
  height: 70px;
}
