---
title: "KDE e.V. Community Working Group"
layout: page
---

<h2>Mission</h2>

<p>Taking care of KDE's community</p>

<p>The Community Working Group was established
at the General Assembly of KDE e.V. in August 2008.</p>

</p>

<h2>Members</h2>

<ul>
  <li>Lydia Pintscher (lydia@kde.org, irc: nightrose) </li>
  <li>Jeffrey Mitchell (mitchell@kde.org, irc: jefferai) </li>
  <li>Tomaz Canabrava (tcanabrava@kde.org, irc: tumaix) </li>
  <li>Valorie Zimmerman (valorie.zimmerman@gmail.com, irc: valorie) </li>
</ul>

<h2>Contact</h2>

<a href="mailto:community-wg@kde.org">community-wg@kde.org</a>

<h2>Charter</h2>

<h3>Introduction</h3>
<p>As a large, diverse community KDE benefits from having both a trustworthy central point of contact for questions about communication between participants as well as a respected independent mediator between participants and users of KDE.<br>
The Community Working Group aims to act as a central point of contact by being available to communicate user needs and concerns to developers, and developer intentions and plans to users.<br>
The group also acts as mediator upon request in the rare cases where the communication breaks down. If these are issues regarding expectations, the work will be closely coordinated with the Marketing Working Group.</p>

<h3>Goal and strategy</h3>
The long-term goal of the Community Working Group is to help to maintain a friendly and welcoming KDE community, thereby ensuring KDE remains a great project enjoyed by all contributors and users.<br>
A participative approach is employed, which presents the Community Working Group as supporting staff who help where help is needed.<br>
The group is prepared to help out community members whenever they request support, for example in cases where a member becomes targeted by a group of malicious individuals or when a member has problems expressing opinions or ideas because of a language difficulty.<br>
Additionally we will actively approach people where we feel it is necessary, although this is expected to be in exceptional cases only.

<h3>Tasks</h3>
Short term activities already complete include:
<ul>
<li>The creation of <a href="http://userbase.kde.org" title="http://userbase.kde.org">http://userbase.kde.org</a>, a wiki site where documentation helpful to end-users may be placed and maintained either by developers or by other users. UserBase will also be the home for FAQ documents which will provide a resource for both developers and users to help dispel misconceptions, misunderstandings and misinformation regarding the KDE project - useful, for example, in IRC or mailing list discussions.
</li><li>A mailing list, <a href="mailto:community-wg@kde.org">community-wg@kde.org</a>, is in operation, and is the contact point for requests for help of any kind.
</li><li>Assistance in writing a <a href="http://www.kde.org/code-of-conduct/">Code of Conduct</a> was given, and the CoC was ratified at the General Assembly of the KDE e.V in 2008.
</li></ul>

Mid- to long-term activities are:
<ul>
<li>Acting to make people aware of issues that run counter to social norms and expectations as documented in the KDE <a href="http://www.kde.org/code-of-conduct/">Code of Conduct</a>, and asking them to refrain from further such negative activities.
</li><li>Helping administrators of mailing lists, forums, IRC channels and so on with issues which lie on the edge of what the community thinks is acceptable. The administrator of a mailing list, the op on IRC channels, etc. can request a second opinion from the Community Working Group prior to making their decision.  Such consultations help give the responsible individuals needed support when making such decisions as well as help them make the best decisions possible in a given situation by bringing additional perspective and thought to it.
</li><li>Acting as mediators when requested by individuals who feel that the <a href="http://www.kde.org/code-of-conduct/">Code of Conduct</a> is being violated in a way that threatens their comfort. A policy for dealing with such issues has been formed, and is detailed in part II of this document.
</li><li>Managing expectations together with the Marketing Working Group.
</li><li>Helping prevent burn-out of long time contributors and help to assess options for those who are under stress.
</li><li>Exploring  the possibility of  setting up a representation<br />
council from the user base.
</li></ul>

<h3>Staffing</h3>
The inner-circle of the Community Working Group is the mailing list where most issues are being discussed.  Mail from outside the CWG staff is moderated, but all legitimate mail will be accepted (i.e. spam will be dropped, all mail related to the activities of the CWG will be accepted). On occasions individuals may be invited to join the mailing list in order that particular aspects of the CWG's work may be discussed.<br>
There are occasions when a place for private conversation about public matters is helpful and even necessary, particularly when the matter has reached the state where de-escalation is required. Having a safe and private area to handle such matters not only makes it easier to establish calm and reason, but often provides the sort of confidentiality that is needed when discussing sensitive or even embarrassing issues.<br>
<a href="mailto:community-wg@kde.org">community-wg@kde.org</a> is a private mailing list, therefore issues discussed on the list must not be disclosed without permission from the CWG and those involved in any particular issue.<br>
We ask people who wish to stay anonymous to approach a trusted member of the Community Working Group, who will then bring the issue forward to the rest of the Group. <br><br>

The Community Working Group is made up of people who have track records of working on these sorts of issues and who have proven to have qualities relevant for community work.<br>
Current members of the Community Working Group are named on <a href="http://ev.kde.org/workinggroups/cwg.php">ev.kde.org</a>.<br>
This charter will stand until the summer of 2010, at which point it will be revisited and an updated charter submitted for renewal and continuation of the Community Working Group.

<h2>Part II - A Policy for Dealing with Breaches of the <a href="http://www.kde.org/code-of-conduct/">Code of Conduct</a></h2>
The Community Working Group has a policy for dealing with issues that involve individual contributors or users. The policy seeks to ensure that confidentiality is respected at all times, yet members of the KDE e.V. are able to audit the process whenever this is deemed advisable.<br>
A private and secure shared webspace has been, or will, be created on a KDE server, accessible only to members of the Community Working Group (CWG). Here a full logging system will be maintained of all contact, of any kind, relating to specific problems.  Included information will be a date-stamp, the name of the CWG member reporting, and a summary of the contact made.  An example of the form is presented as Appendix A.<br>
The information in this log will be maintained for a minimum of 1 year, but may be deleted at a later date, when the CWG consider that there is no further relevance.<br>
If the problem can be resolved amicably no public action will be taken.  Should the problem appear to be intractable the CWG will come to a joint decision as to the form of action that is most helpful for the KDE community at large, and will submit that finding to the e.V. Board. When the Board is satisfied that all necessary steps have been taken, the decision will be taken to moderators and other interested parties explaining the decision and asking for action to be taken. The CWG does not, itself, take any such action.<br>
Following that step the mailing list of the e.V. will be notified of the action taken. At that point members of the e.V. have the right to audit the process, satisfying themselves that policy has been strictly carried out.<br>
On receipt of such a request a report will be prepared.  This will give sufficient information to indicate the time-scale of the enquiry, the number and type of communications taking place, and any outcome.  It will not identify any participant other than the subject of the enquiry.  A sample of such a report is presented as Appendix B.  It is stressed that confidential material will not, under any circumstances be released. This preserves a balance between the transparency needed for proper auditing and accountability without compromising the equally important need for personal confidentiality and privacy of those involved.

<h3>Appendix A - Example of the format of log maintained by the CWG</h3>

<p>2009-01-13      nightrose       alerted to possible issue on somelist.kde.org ML<br />
20:05:15</p>
<p>2009-01-15      annew           CWG received email from John Doe requesting help<br />
21:17:01                        regarding behaviour of Jonathon Buck on somelist.kde.org</p>
<p>2009-01-16      toma            email sent to Jonathon Buck requesting moderation<br />
16:40:27                        of language on MLs</p>
<p>2009-01-19      annew           further angry exchanges on somelist.kde.org.  email<br />
17:14:02                        sent to JB outlining some strategies for avoiding<br />
such conflict.</p>
<p>2009-01-20      annew           defensive reply from JB, saying no-one listens to<br />
11:14:21                        him.  email sent to JB explaining that his attitude<br />
over a considerable period have led to this situation.  anger-management strategies stressed.</p>
<p>2009-02-19      annew           similar complaint from James Sow against Jonathon<br />
11:49:32                        Buck's behaviour on #somechannel.</p>
<p>2009-02-19      nightrose       raised a private query with JB and tried to explain<br />
22:03:58                        why his attitude is upsetting people.  JB agreed,<br />
though seeming reluctant, to attempt to moderate his language on both MLs and IRC<br />
etc.</p>

<h3>Appendix B - Example of the form of report to be released upon request by an e.V. Member</h3>
<p>January '09<br />
Alert of problem on a ML received by email<br />
List member requests moderation/help<br />
First email sent to JB requesting a more moderate approach to problem.<br />
Three further exchanges of mail on this subject.</p>

<p>February '09<br />
Five further exchanges of mail - no noticeable difference in attitude<br />
A new complaint against JB raised by another ML member<br />
Private IRC query with JB attempts to explain why people are offended by his remarks<br />
etc......</p>

<p>March '09<br />
15th email sent, third IRC session with JB - no noticeable change.<br />
No further progress seems possible.<br />
CWG confer and conclude that all avenues have been explored<br />
and that it can only recommend a period of suspension.<br />
Recommendation reported to the e.V.</p>
