---
title: "KDE e.V. Fundraising Working Group"
layout: page
---

<h3 id="goals">Goals</h3>
<p>The KDE e.V. Fundraising Working Group has the following tasks:</p>
<ul>
<li>Identify fundraising opportunities and coordinate the execution of fundraising campaigns</li>
<li>Maintain and improve the technical infrastructure used in fundraising campaigns</li>
<li>Coordinate the production and outreach of promotional material for fundraising campaigns</li>
</ul>
<h3 id="members">Members</h3>
<p>The current members of the KDE e.V. Fundraising Working Group are:</p>
<ul>
<li>Ingride Luiza</li>
<li>Kenny Coyle</li>
<li>Lays Rodrigues</li>
<li>Miranda Van Den Breukelingen</li>
<li>Sagar Hani</li>
<li>Scarlett Clark</li>
</ul>

<h3 id="contact">Contact</h3>
<p>You can contact the Fundraising Working Group under <a href="mailto:kde-ev-campaign@kde.org">kde-ev-campaign@kde.org</a></p>
