---
title: "KDE e.V. Working Groups"
layout: page
---

<h2>Active Working Groups</h2>

<ul>
  <li><a href="/workinggroups/abwg/">Advisory Board Working Group</a></li>

  <li><a href="/workinggroups/cwg/">Community Working Group (CWG)</a></li>

  <li><a href="/workinggroups/fwg/">Financial Working Group (FiWG)</a></li>

  <li><a href="/workinggroups/fundraisingwg/">Fundraising Working Group (FuWG)</a></li>
  
  <li><a href="/workinggroups/sysadmin/">System Administration (sysadmin)</a></li> 
</ul>
