<figure class="image-right">
    <img width="50%" src="images/Mascot_konqi-dev-qtx1500.png" alt="Picture of Aleix Pol" />
</figure>

<a href="https://www.qt.io/">Qt</a> (pronounced "<I>cute</I>") is a collection of libraries, frameworks and tools that allow developers, companies and other institutions to create modern graphical interfaces for applications and environments. Qt is used for the interfaces for medical apparatus, the dashboard of modern cars, computer applications, and, most famously, for KDE's Plasma desktop and all its programs.

### The Foundation

<p>The <a href="https://kde.org/community/whatiskde/kdefreeqtfoundation.php">KDE Free Qt Foundation</a> (KFQF) is an organization that was set up in 1998 to make sure all Qt components were free (as in "freedom"), remained free and can be used freely by third parties. The need for the Foundation came about because Qt was not always entirely free, or at least not free as in how freedom is defined by many Free Software and Open Source organizations. Not until 2005 was Qt licensed under a GPL license for all platforms.</p>

<p>KDE was instrumental in the process of liberating Qt and has two veteran KDE contributors on KFQF's board: Martin Konold is the Chief Technology Officer at Konsec GmbH and has contributed his expertise to the <a href="https://kolab.org/">Kolab</a> groupware suite; the programs grouped in KDE's <a href="https://kontact.kde.org/">Kontact</a> suite for email, contact and task management; and other KDE projects. Olaf Schmidt-Wischhöfer, on the other hand, works at Mehrwert, a company that specializes in accessible websites. Olaf has contributed accessibility improvements to both KDE's desktop and its applications, as well as to the Linux Standard Base. Martin and Olaf's primary mission at the Foundation is to defend the rights of the Free Software community and the rights to use Qt freely.</p>

<p>While giving free use of Qt to third parties is fine, it has to be done always with the agreement of the company that happens to be the owner of Qt at any given time. At the moment of writing this, the enterprise that owns the commercial rights to Qt and employs most of its core developers is the <a href="https://www.qt.io/company">Qt Company</a>. That's why the KFQF also has members of the Qt Company on the board: Juhapekka Niemi is Executive Vice President of Qt Group Plc and Tuukka Turunen is a Senior Vice President of Research and Development.</p>

<p>The Foundation also engages Eirik Eng and Haavard Nord, the founders of Trolltech, the company that started developing Qt back in the 90s. Eirik and Haavard are board advisers but do not have voting rights. The Foundation also has two lawyers on retainer for legal counsel. They ensure that the agreement between KDE and the owners of the Qt suite of frameworks, libraries and utilities is legally binding.</p>

<h3><a href="https://kde.org/community/whatiskde/Software_License_Agreement_2015.pdf">The Agreement</a></h3>

<p>The agreement itself is the cornerstone of the Foundation and lays out what software must be freed, what license must be used in the distribution of the software and what conditions the owner of Qt must comply with to not violate the letter of the accord.</p>

<p>With regards to the software, the license specifies that it covers all libraries, frameworks and tools currently part of Qt. It also covers future tools and libraries that could be developed by the owner of Qt and that could reasonably be considered part of Qt. This means that if the owner of Qt creates a new tool or develops a new library and it can be considered to be part of the Qt, it will be covered by the agreement.</p>

<p>The agreement is comprehensive in more ways than one and covers versions of Qt on all platforms, be it GNU/Linux, Windows, macOS, iOS, or Android, and even on platforms that may not exist yet. It also covers platforms the owners of Qt decide to abandon and then reinstate at a later date.</p>

<p>As for the version of Qt that is freed to the public, this is always the latest enterprise version and it gets distributed under the GPLv3 for the most part, although there are parts freed under GPLv2.</p>

<p>The frequency with which the owner of Qt must release a new version as Free Software is also regulated by the agreement: The owner of Qt cannot delay more than 12 months between releases. If the owner does not release a new version within a year of releasing the prior version, KDE would have the right to take the latest released version and open it up with a BSD license.</p>

<p>This would be to all practical effects a fork of Qt, where a community-based version would be split off from the version produced and maintained by the owners of Qt.</p>

<h3>Forking Qt</h3>

<p>Despite there being a fringe group of users who think forking Qt would be the best course of action, a large number of KDE Community members consider this a last resort. Indeed, it should only be resorted to if the interests of the owners of Qt and KDE are irreconcilably at odds. This has not happened in the whole history of the relationship.</p>

<p>KDE would indeed be able to carry on Qt's development, and without a doubt would gain support from other projects, enterprises and institutions who rely on an open source version of Qt. Indeed, there are plenty of examples of projects that have thrived when spearheaded by a community (<a href="https://www.blender.org/">Blender</a> and <a href="https://www.libreoffice.org/">LibreOffice</a> come to mind). With a strong community such as that of KDE, it is unlikely that a transition to an entirely community-based steerage would fail.</p>

<p>But it would be much better to count on the Qt Company as an ally, as we have counted on all the different owners of Qt in the past. The Qt Company has an accumulated expertise in its development team that is hard to beat and the firm is also linked to KDE in more than one way. The Qt Company has sponsored KDE and our events, we have shared knowledge and maintained an enriching relationship for both parties. Many Qt Company developers maintain or contribute to KDE projects and are valued members of the community.</p>

<p>On the flip side, remaining allies with KDE will always work in favor of the Qt Company. An active, mature and, at the same time, vibrant community is what many companies dream for their products. The reason why this is coveted is easy to understand: An enterprise with a product such as Qt and a strong FLOSS community backing it, automatically gains literally thousand of testers and evangelists. Independent developers push improvements upstream, engineers will advocate it in their workplaces because they will have used it in their side-projects, and thousands of apps showcase its strengths, making it one of the stronger contenders in its category.</p>

<p>In conclusion, the KDE Free Qt Foundation exists not only to defend the freedom of the Qt framework and tools, but also for the success of the alliance between KDE and the Qt Company.</p>
