<p>Akademy 2019 was hosted by unixMIB at the University of Milano-Bicocca in Milan, Italy. The annual conference of the KDE community started of with its traditional two days of conferences, hosting more than 30 speakers.</p>

<p>Akademy attracted 165 participants, which is an uptick from previous events for the second year running, proving there is an increase in interest KDE's activities and technologies. Apart from Community members, attendees included new participants and representatives from the Italian government, local organizations, software companies, journalists, supporting members, sponsors, and many more.</p>

<h3>Day 1 - Saturday, September 7: Goals, Reports, and the Future of Qt</h3>

<p>Akademy 2019 started in the morning of September 7 with an introductory session by Lydia Pintscher, President of KDE e.V., followed by the first keynote. In the keynote, <a href="https://dot.kde.org/2019/08/29/lars-knoll-cto-qt-and-keynote-speaker-akademy-2019">Lars Knoll from Qt presented the path towards Qt 6</a> all the way from the very beginning of the project. Lars also spoke of what upcoming changes in Qt 6 may potentially impact the KDE ecosystem. </p>

<p>The next batch of talks was dedicated to the KDE community goals. Ivan Čukić started by presenting the progress of the Privacy and Security goal in his talk <a href="https://conf.kde.org/en/akademy2019/public/events/157">Everything to hide: Helping protect the privacy of our users</a>. Ivan pointed out that security and privacy should come before usability, even if some users hate it, because it's our duty and responsibility to protect them. </p>

<div style='text-align: center'>
    <figure style="padding: 1ex; margin: 1ex;"><a href="https://dot.kde.org/sites/dot.kde.org/files/security.jpg"><img src="https://dot.kde.org/sites/dot.kde.org/files/security.jpg" width="800" /></a><br /><figcaption>Ivan shows how to capture a password from an insecure application.</figcaption></figure>
</div>

<p>Eike Hein talked about the Usability and Productivity goal and wondered <a href="https://conf.kde.org/en/akademy2019/public/events/119">Are we there yet?</a>. Massive improvements have been made to KDE software as part of this goal, and Eike emphasized the importance of communicating this progress (as illustrated in weekly blog posts by Nate Graham). The achievements of the third community goal - <a href="https://conf.kde.org/en/akademy2019/public/events/112">Onboarding New Contributors</a> - were presented by Neofytos Kolokotronis, who listed the adoption of Matrix as a communication tool, the on-going adoption of GitLab, and the creation of the KDE Welcome team as some of the major moments. </p>

<p>After looking back at the previous set of goals, it was time to look forward to the new ones. <a href="https://conf.kde.org/en/akademy2019/public/events/155">During the panel with Ivan Čukić, Eike Hein, and Neofytos Kolokotronis and Lydia Pintscher</a>, the <a href="https://dot.kde.org/2019/09/07/kde-decides-three-new-challenges-wayland-consistency-and-apps">the three new goals that the KDE community is going to focus on</a> were  announced. The creators of the goal proposals spent some time talking about their plans and tasks that will kick off the new goals.</p>

<p>In the afternoon round of quick talks, <a href="https://conf.kde.org/en/akademy2019/public/events/146">Adriaan de Groot presented</a> <a href="https://github.com/adriaandegroot/QuatBot">QuatBot</a>, a meeting-managing bot he wrote for the Matrix IM service, and talked about the power and versatility of KDE Frameworks. Attendees also got a chance to hear <a href="https://conf.kde.org/en/akademy2019/public/events/115">how Carl Schwan brought in new contributors from Reddit</a> and Aleix Pol dispensed valuable advice on <a href="https://conf.kde.org/en/akademy2019/public/events/122">how to organize a sprint</a>.</p>

<p>Over in the Security track, Albert Astals talked about the <a href="https://conf.kde.org/en/akademy2019/public/events/113">cool ways developers can use oss-fuzz to test their code</a>, and encouraged KDE developers to use it for projects such as Baloo, kfilemetadata, and PIM-related code. Volker Krause presented parts of the work carried out for the Privacy goal in his talk <a href="https://conf.kde.org/en/akademy2019/public/events/135">Secure HTTP Usage</a>, and warned about the importance of having secure defaults in KDE software.</p>

<p>The Community session included a talk on <a href="https://conf.kde.org/en/akademy2019/public/events/126">building developer portals</a> by Ivana Isadora Devcic, followed by Ray Paik's talk on <a href="https://conf.kde.org/en/akademy2019/public/events/151">making a difference in the community</a>. As a Community Manager at GitLab, Ray shared his experience with identifying crucial community metrics, attracting new contributors, and improving leadership and inclusivity efforts.</p>

<p>Meanwhile, the tech talk session continued with Marco Martin and Bhushan Shah discussing <a href="https://conf.kde.org/en/akademy2019/public/events/109">the future of Plasma on embedded devices</a>. They rightfully pointed out that the assumption your software will only be used on a desktop is not true anymore, and explained how KDE Frameworks enable creating software for different platforms. Aleix Pol talked about the details of <a href="https://conf.kde.org/en/akademy2019/public/events/121">optimizing Plasma to run fast on low-end hardware</a>; more specifically, on the Pinebook. Aditya Mehra presented a demo of <a href="https://conf.kde.org/en/akademy2019/public/events/141">Plasma and Mycroft being used to voice-control a car</a>, and Kai Uwe Broulik gave an in-depth look into <a href="https://conf.kde.org/en/akademy2019/public/events/125">the overhauled notification system</a> shipped with the latest version of Plasma. </p>

<div style='text-align: center'>
    <figure style="padding: 1ex; margin: 1ex;"><a href="https://dot.kde.org/sites/dot.kde.org/files/20190907_154401_1500.jpg"><img src="https://dot.kde.org/sites/dot.kde.org/files/20190907_154401_1500.jpg" width="800" /></a><br /><figcaption>Aditya shows us how some day KDE tech may control your car.</figcaption></figure>
</div>

<p>The first day of Akademy 2019 closed with <a href="https://conf.kde.org/en/akademy2019/public/events/116">reports by Google Summer of Code students</a> developing fresh new code for KDE, and <a href="https://conf.kde.org/en/akademy2019/public/events/118">the KDE e.V. Board and Working Group reports</a> that provided an insight into growth and health of the KDE community.</p>

<h3>Day 2 - Sunday, September 8: New Technology, FOSS Revolution in Italy, and Akademy Awards</h3>

<p>The second day of Akademy 2019 opened with a keynote <a href="https://dot.kde.org/2019/09/05/developers-italia-and-new-guidelines-let-open-source-revolution-start-interview-leonardo">"Developers Italia and the New Guidelines: Let the Open Source Revolution Start" by Leonardo Favario from the Team Digitale IT</a>. Leonardo presented the work that his team has been doing to establish guidelines for Free and Open Source Software distribution in the Italian administration. Continuing on a similar topic, Michiel Leenaars talked about <a href="https://conf.kde.org/en/akademy2019/public/events/160">NGIO (Next Generation Internet Zero)</a>; an EU initiative focused on helping non-profit organizations build a better Internet for everyone.</p>

<p>The tech talks on Sunday were fascinating, with new, innovative technologis introduced left, right and center. Cristoph Haag explained how Collabora made <a href="https://conf.kde.org/en/akademy2019/public/events/137">Plasma desktop usable in a Virtual Reality environment</a>, and set up demos that the attendees could play with during the day. Trung Thanh Dinh showed how <a href="https://conf.kde.org/en/akademy2019/public/events/127">AI face recognition</a> can be used in <a href="https://www.digikam.org">digiKam</a>, KDE's photo management app, and Eike Hein presented a completely new KDE application called <a href="https://kirogi.org/">Kirogi</a>, which provides <a href="https://conf.kde.org/en/akademy2019/public/events/102">a FLOSS ground control for consumer drones that works on mobile devices</a>.</p>

<div style='text-align: center'>
    <figure style="padding: 1ex; margin: 1ex;"><a href="https://dot.kde.org/sites/dot.kde.org/files/kirogi.jpg"><img src="https://dot.kde.org/sites/dot.kde.org/files/kirogi.jpg" width="800" /></a><br /><figcaption>Eike points to the skies, which is where KDE is going next with Kirogi.</figcaption></figure>
</div>

<p>In the afternoon sessions, Katarina Behrens from the Document Foundation talked about <a href="https://conf.kde.org/en/akademy2019/public/events/130">integrating LibreOffice products with KDE Plasma</a>, while Timothée Giet and Aiswarya Kaitheri Kandoth told the story of <a href="https://conf.kde.org/en/akademy2019/public/events/107">how a single floppy disk with LaTeX on it resulted in schools using GNU/Linux and GCompris in Kerala, India</a>. </p>

<p>Volker Krause gave two more talks - one about <a href="https://conf.kde.org/en/akademy2019/public/events/136">the development and usage of</a> <a href="https://www.volkerkrause.eu/2019/03/02/kpublictransport-introduction.html">KPublicTransport</a>, a framework for interacting with data from public transport operators; and another on <a href="https://conf.kde.org/en/akademy2019/public/events/134">how the limitations of the Android development platform impact KDE Frameworks</a>. In another developer-oriented talk, Daniel Vràtil gave his perspective on <a href="https://conf.kde.org/en/akademy2019/public/events/139">using C++ to build APIs</a>. Attendees also heard from Caio Jordao Carvalho, who presented <a href="https://conf.kde.org/en/akademy2019/public/events/104">the progress on kpmcore</a>, the heart of KDE's partitioning and disk management tools.</p>

<p>Meanwhile, a session on <a href="https://conf.kde.org/en/akademy2019/public/events/166">different ways to package and distribute KDE software</a> was chaired by Dan Leinir Turthra Jensen, with participants explaining advantages and shortcomings of different solutions (AppImage, Flatpak, Snap, Steam, Google Play...). </p>

<p>The session was followed by two community-related talks. In <a href="https://conf.kde.org/en/akademy2019/public/events/138">What We Do in the Promos</a>, Paul Brown gave a realistic look into how people outside the FOSS bubble perceive (or do not perceive) KDE software, and explained the reasoning behind activities carried out by KDE Promo. Afterwards, Aniketh Girish explained <a href="https://conf.kde.org/en/akademy2019/public/events/103">how code reviews can be toxic</a> and put off new contributors, so he offered some advice to prevent that. Last but not least, Dan Leinir Turthra Jensen presented the <a href="https://conf.kde.org/en/akademy2019/public/events/129">Get Hot New Stuff</a> project and its development.</p>

<p>Following the <a href="https://conf.kde.org/en/akademy2019/public/events/163">lightning talks</a> from Akademy 2019 sponsors, the second day of the conference closed with the announcement of <a href"https://conf.kde.org/en/akademy2019/public/events/162">Akademy Awards winners</a>:</p>

<ul>
    <li><b>Best Application:</b> Marco Martin for work on the Kirigami framework</li>
    <li><b>Best Non-Application:</b>  Nate Graham for persistent work on the "KDE Usability & Productivity" blog</li>
    <li><b>Jury Award:</b>  Volker Krause for long-term contributions to KDE including KNode, KDE PIM, KDE Itinerary and the UserFeedback framework</li>
</ul>

<div style='text-align: center'>
    <figure style="padding: 1ex; margin: 1ex;"><a href="https://dot.kde.org/sites/dot.kde.org/files/DSC02595_CC_1500.jpg"><img src="https://dot.kde.org/sites/dot.kde.org/files/DSC02595_CC_1500.jpg" width="800" /></a><br /><figcaption>The organizers win a special award for an excellent Akademy.</figcaption></figure>
</div>

<p>All talks are available online on <a href="https://peertube.mastodon.host/my-account/video-playlists/9ae43003-6ccb-4e69-9cca-f2f3d13603ef">PeerTube</a>.</p>

<p>Akademy 2019 continued throughout the rest of the week with daily BoF (Birds of a Feather) sessions, meetings, and various activities that helped us strengthen the community bonds. The recap videos of the BoFs for <a href="https://dot.kde.org/2019/09/09/akademy-2019-monday-bof-wrapup">Monday</a>, <a href="https://dot.kde.org/2019/09/10/akademy-2019-tuesday-bof-wrapup">Tuesday</a> and <a href="https://dot.kde.org/2019/09/12/akademy-2019-wednesday-and-thursday-bof-wrapup">Wednesday</a> are also available on KDE's news site, the Dot.</p>

<p>And for something completely different, take a look at <a href="https://ervin.ipsquad.net/photos/akademy-2019/">the sketchnotes from Akademy 2019 talks</a> by Kevin Ottens.</p>

<div style='text-align: center'>
    <figure style="padding: 1ex; margin: 1ex;"><a href="https://dot.kde.org/sites/dot.kde.org/files/09-DevPortal.png"><img src="https://dot.kde.org/sites/dot.kde.org/files/09-DevPortal.png" width="800" /></a><br /><figcaption>Kevin sketches Akademy talks.</figcaption></figure>
</div>

<p>Akademy 2019 was an engrossing experience thanks to the wide variety of talks and fun-filled chats with participants eager to share and learn.</p>

<p>Moving forward, <a href="https://akademy.kde.org/2020">Akademy 2020</a> will be held online and we expect our participants to attend with the same enthusiasm as previous years.</p>
