<p>From 7th May to 4th September 2019, the KDE Community welcomed <a href="https://summerofcode.withgoogle.com/">Google Summer of Code students</a> for 2019. Google Summer of Code (GSoC) is a global program focused on bringing more student developers into Open Source software development. Students work with an Open Source organization on a 3-month programming project during their break from school.</p>

<p>This was our 14th year of mentoring students. The following students have worked with our development teams throughout the summer.</p>

<p><a href="https://krita.org">Krita</a> had four students: Alberto Flores worked with the SVG pipe/animated brush, Kuntal M. ported the magnetic lasso, Sharaf Zaman ported Krita to Android, and Tusooa Windy brought a better undo/redo to Krita.</p>

<p><a href="https://www.digikam.org/">digiKam</a> mentored three students: Thanh Trung Dinh brought AI Face Recognition with the OpenCV DNN module to digiKam, Igor Antropov improved the Faces Management workflow, and Ahmed Fathy made a zoomable and resizable brush for Healing Clone Tool.</p>

<p><a href="https://labplot.kde.org/">Labplot</a> got attention from two students: While Devanshu Agarwal provided statistical analysis for Labplot, Ferencz Kovács worked on the support for importing educational data sets available on the Internet.</p>

<p>Another two students - Piyush Aggarwal and Weixuan Xiazo – worked on <a href="https://kdeconnect.kde.org/">KDE Connect</a>. Their projects were quite exciting: Piyush ported KDE Connect to Windows, while Weixuan brought KDEconnect to MacOS.</p>

<p>Akshay Kumar brought <a href="https://www.gcompris.net">Gcompris</a> one step closer to version 1.0, and Akhil K Gangadharan revamped the Titler tool for <a href="https://kdenlive.org">Kdenlive</a>. Prasenjit Kumar Shaw made data sync for <a href="https://www.falkon.org/">Falkon</a> a thing, and Rituka Patwal brought <a href="https://nextcloud.com/">Nextcloud</a> integration to <a href="https://www.plasma-mobile.org/">Plasma Mobile</a>.</p>

<p>João Netto improved JavaScript support on <a href="https://kde.org/applications/en/graphics/org.kde.okular">Okular</a>, and Karina Pereira Passos improved <a href="https://userbase.kde.org/Khipu">Khipu</a> and <a href="https://api.kde.org/4.x-api/kdeedu-apidocs/analitza/html/index.html">Analitza</a>. Nikita Sirgienko implemented the import/export of <a href="https://jupyter.org/">Jupyter notebooks</a> in <a href="https://edu.kde.org/cantor/">Cantor</a>.</p>

<p>Atul Bisht created a barcode scanning plugin in Purpose. Filip Fila worked on ensuring consistency between the SDDM login manager and the <a href="https://kde.org/plasma-desktop">Plasma desktop</a>, and SonGeon focused on integrating kmarkdown-qtview with WYSIWYG markdown editor for KDE as a whole.</p>

<p><a href="https://neon.kde.org/">KDE neon</a> got a KDE ISO image writer courtesy of Farid Boudedja, while Caio Tonetti made an improved graph theory IDE for <a href="https://kde.org/applications/education/org.kde.rocs">Rocs</a>. Alexander Saoutkin polished KIOFuse, and Shubham ported authentication to Polkit-qt for <a href="https://kde.org/applications/en/system/org.kde.partitionmanager">KDE Partition Manager</a>.</p>

<p>During the event, we were always excited to share their progress with the rest of the world.</p>
