<p><b>Despite the rain and the cold, there is always a place that is warm and welcoming in Brussels in February: the KDE booth at <a href="https://archive.fosdem.org/2019/">FOSDEM 2019</a>.</b></p>

<p>On the 2nd to 3rd February FOSDEM was hosted at ULB Campus Solbosch in Brussels, Belgium. FOSDEM is one of the world's largest Free Software conferences and our booth was jam-packed with interesting stuff. The first thing visitors saw as they arrived was the <a href="https://krita.org/">Krita</a> demo. Wolthera van Hövell, a talented artist that regularly contributes to Krita, painted live at the booth, demonstrating all the new features on a large screen for everybody to enjoy. Then on Sunday, Camille Moulin demonstrated how to edit video using <a href="https://kdenlive.org/">Kdenlive</a>.</p>

<p>We also had a wide variety of hardware devices you were able to play with. We showed off how Plasma works on everything: from high-end laptops like the <a href="">KDE Slimbook</a> to underpowered and very affordable notebooks, such as the <a href="">Pinebook</a>. A variety of SBCs (single-board computers) were also on display, ranging from Raspberry Pis to Pine64s. Of course, we showed the progress we were making on Plasma Mobile, so the KDE booth was well-equipped with phones attendees could test on-site, as well as exotic new hardware, like a RISC-V board.</p>

<p>Besides demos and devices, the booth staff was made up by some of KDE's most notorious members. Aleix Pol of <a href="https://kde.org/applications/en/education/org.kde.kalgebra">KAlgebra</a> and <a href="https://userbase.kde.org/Discover">Discover</a> fame; Jonathan Riddell, creator of the <a href="https://neon.kde.org/">KDE neon</a> system; Bhushan Shah, the main developer of <a href="https://www.plasma-mobile.org/">Plasma Mobile</a>; Adriaan de Groot, the main developer of the <a href="https://calamares.io/">Calamares</a> operating system installer; and Boudewijn Rempt from <a href="https://krita.org/">Krita</a> were all on hand to answer questions, field suggestions or just chat.</p>

<p>In the merch department, visitors were able to get their hands on our brand new Katie and Konqi stickers, specially designed to celebrate Plasma Mobile, along with a variety of other kute designs. They were also able to purchase KDE gear, such as T-shirts, sweaters and hoodies. This was a great opportunity to not only spruce up wardrobes but also to contribute to KDE with a donation to our community -- a truly a win-win situation!</p>
